@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-mint: #00c08b;
  --color-minthover: #00ab7c;
  --color-mintactive: #00966d;

  --color-rose: #f14f4f;
  --color-rosehover: #de4949;
  --color-roseactive: #c94242;

  --color-base: #f8f9fa;
  --color-graphite: #0b2027;

  --font-base: 'Golos Text', sans-serif;
}

@layer base {
  p {
    @apply font-base;
  }
}
